<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver">
		</property>
		<property name="url" value="jdbc:mysql://localhost:3306/ams">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value=""></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
	</bean>


	<!-- 事务管理器 -->
	<bean id="myHibTransactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- 事务通知，注意：注入事务管理器对象 -->
	<tx:advice id="txAdvice" transaction-manager="myHibTransactionManager">
		<tx:attributes>
			<tx:method name="create*" propagation="REQUIRED" />
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="saveOrUpdate*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="deleteSelected*" propagation="REQUIRED" />
			<tx:method name="assign*" propagation="REQUIRED" />
			<tx:method name="logTurndetail" propagation="REQUIRED" />
			<tx:method name="*" propagation="SUPPORTS"></tx:method>
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<!-- 定义切入点！（设置织入切面的位置） -->
		<aop:pointcut id="bizMethods"
			expression="execution(* com.service.impl.service.*.*(..))" />
		<!-- 定义advisor（通知+切入点） -->
		<aop:advisor advice-ref="txAdvice" pointcut-ref="bizMethods" />
	</aop:config>

	<!-- Dao -->
	<bean id="baseDao" class="com.dao.impl.BaseDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="purchaseDao" class="com.dao.impl.PurchaseDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="assetDao" class="com.dao.impl.AssetDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="userDao" class="com.dao.impl.UserDao" parent="iBaseDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="departmentDao" class="com.dao.impl.DepartmentDao"
		parent="iBaseDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="assetClassDao" class="com.dao.impl.AssetClassDao"
		parent="iBaseDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="iBaseDao" class="com.dao.impl.BaseDao">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>

	<!-- Service -->
	<bean id="baseService" class="com.service.impl.BaseService"
		autowire="byName">
		<property name="baseDao" ref="baseDao"></property>
		<property name="iBaseDao" ref="iBaseDao"></property>
	</bean>
	<bean id="userService" class="com.service.impl.UserService"
		autowire="byName">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="purchaseService" class="com.service.impl.PurchaseService"
		autowire="byName">
		<property name="purchaseDao" ref="purchaseDao"></property>
	</bean>

	<bean id="iUserService" class="com.service.impl.UserService"
		parent="baseService">
		<property name="userDao" ref="userDao" />
	</bean>
	<bean id="assetService" class="com.service.impl.AssetService"
		parent="baseService">
		<property name="assetDao" ref="assetDao" />
	</bean>
	<bean id="iDepartmentService" class="com.service.impl.DepartmentService"
		parent="baseService">
		<property name="departmentDao" ref="departmentDao" />
	</bean>
	<!-- fyy -->
	<bean id="assetClassService" class="com.service.impl.AssetClassService"
		parent="baseService">
		<property name="assetClassDao" ref="assetClassDao" />
	</bean>

	<!-- Action -->
	<!-- lls -->
	<bean id="Login" class="com.action.LoginAction" autowire="byName">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="Purchase" class="com.action.PurchaseAction" autowire="byName">
		<property name="purchaseService" ref="purchaseService"></property>
	</bean>
	<bean id="PurchaseDetail" class="com.action.PurchaseAction" scope="prototype">
		<property name="purchaseService" ref="purchaseService"></property>
	</bean>
	<bean id="Asset" class="com.action.AssetAction" autowire="byName">
		<property name="assetService" ref="assetService"></property>
	</bean>

	<!-- dh -->
	<bean id="AddUser" class="com.action.UserManageAction" scope="prototype">
		<property name="iUserService" ref="iUserService" />
	</bean>

	<bean id="UpdateUser" class="com.action.UserManageAction" scope="prototype">
		<property name="iUserService" ref="iUserService" />
	</bean>

	<bean id="DeleteUser" class="com.action.UserManageAction" scope="prototype">
		<property name="iUserService" ref="iUserService" />
	</bean>

	<bean id="GetUser" class="com.action.UserManageAction" scope="prototype">
		<property name="iUserService" ref="iUserService" />
	</bean>
	<bean id="UserList" class="com.action.UserManageAction" scope="prototype">
		<property name="iUserService" ref="iUserService" />
	</bean>
	<bean id="UserSearch" class="com.action.UserManageAction" scope="prototype">
		<property name="iUserService" ref="iUserService" />
	</bean>


	<!-- fyy -->
	<bean id="AddAssetClass" class="com.action.AssetClassAction" scope="prototype">
		<property name="assetClassService" ref="assetClassService" />
	</bean>
	<bean id="AssetClassList" class="com.action.AssetClassAction" scope="prototype">
		<property name="assetClassService" ref="assetClassService" />
	</bean>
	<bean id="UpdateAssetClass" class="com.action.AssetClassAction" scope="prototype">
		<property name="assetClassService" ref="assetClassService" />
	</bean>
	<bean id="DeleteAssetClass" class="com.action.AssetClassAction" scope="prototype">
		<property name="assetClassService" ref="assetClassService" />
	</bean>
	<bean id="GetAssetClass" class="com.action.AssetClassAction" scope="prototype">
		<property name="assetClassService" ref="assetClassService" />
	</bean>
	<bean id="AssetClassSearch" class="com.action.AssetClassAction" scope="prototype">
		<property name="assetClassService" ref="assetClassService" />
	</bean>

	<!-- Guohui Li -->
	<bean id="GetStatistics" class="com.action.AssetAction" autowire="byName">
		<property name="assetService" ref="assetService"></property>
		<property name="iAssetClassService" ref="assetClassService"></property>
	</bean>
	<bean id="GetAssetListByClass" class="com.action.AssetAction" autowire="byName">
		<property name="assetService" ref="assetService"></property>
		<property name="iAssetClassService" ref="assetClassService"></property>
	</bean>
	<bean id="AddDepartment" class="com.action.DepartmentManageAction"
		scope="prototype">
		<property name="iDepartmentService" ref="iDepartmentService" />
	</bean>

	<bean id="UpdateDepartment" class="com.action.DepartmentManageAction"
		scope="prototype">
		<property name="iDepartmentService" ref="iDepartmentService" />
	</bean>

	<bean id="DeleteDepartment" class="com.action.DepartmentManageAction"
		scope="prototype">
		<property name="iDepartmentService" ref="iDepartmentService" />
	</bean>

	<bean id="GetDepartmentInfo" class="com.action.DepartmentManageAction"
		scope="prototype">
		<property name="iDepartmentService" ref="iDepartmentService" />
	</bean>
	<bean id="DepartmentList" class="com.action.DepartmentManageAction"
		scope="prototype">
		<property name="iDepartmentService" ref="iDepartmentService" />
	</bean>

</beans>
